<h3 class="text-center">Overall Stats</h3>
<hr />
<table class="table table-striped table-inverse text-center">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th class="text-center">Win Percentage</th>
      <th class="text-center">Total Wins</th>
      <th class="text-center">Average Points / Loss</th>
      <th class="text-center">Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-center" scope="row">Mike</th>
      <td>{{ mWinPer }}%</td>
      <td>{{ mWins }}</td>
      <td>{{ mAvg }}</td>
      <td>{{ mTotal }}</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">Alan</th>
      <td>{{ aWinPer }}%</td>
      <td>{{ aWins }}</td>
      <td>{{ aAvg }}</td>
      <td>{{ aTotal }}</td>
    </tr>
  </tbody>
</table>
<h4 class="text-center">Last 10 Games</h4>
<h6 class="text-center">(Most Recent First)</h6>
<hr />
<table class="table table-striped table-inverse text-center">
  <thead>
    <tr>
      <th class="text-center">Alan Score</th>
      <th class="text-center">Mike Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each lastGames}}
    <tr>
      <td class="">{{alan_score}}</td>
      <td class="">{{mike_score}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
