<h3 class="text-center">Overall Stats</h3>
<hr />
<table class="table table-striped table-inverse text-center">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th class="text-center">Overall Win %</th>
      <th class="text-center">Last 10 Win %</th>
      <th class="text-center">Total Wins</th>
      <th class="text-center">Average Points / Loss</th>
      <th class="text-center">Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-center" scope="row">Mike</th>
      <td>{{ mWinPer }}%</td>
      <td>{{ mLast10 }}%</td>
      <td>{{ mWins }}</td>
      <td>{{ mAvg }}</td>
      <td>{{ mTotal }}</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">Alan</th>
      <td>{{ aWinPer }}%</td>
      <td>{{ aLast10 }}%</td>
      <td>{{ aWins }}</td>
      <td>{{ aAvg }}</td>
      <td>{{ aTotal }}</td>
    </tr>
  </tbody>
</table>
<h4 class="text-center">Last 10 Games</h4>
<h6 class="text-center">(Most Recent First)</h6>
<hr />
<table class="table table-striped table-inverse text-center">
  <thead>
    <tr>
      <th class="text-center">Alan Score</th>
      <th class="text-center">Mike Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each lastGames}}
    <tr>
      <td class="">{{alan_score}}</td>
      <td class="">{{mike_score}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<form class="form-horizontal" action="/scores/add" method="post">
  <fieldset>
    <legend class="text-center">Add Score</legend>
    <div class="form-group">
      <div class="col-lg-3 col-lg-offset-2">
        <input type="text" class="form-control text-center" id="alanScore" inputmode="numeric" placeholder="Alan Score" name="alan_score" required>
      </div>
      <div class="col-lg-3 col-lg-offset-2">
        <input type="text" class="form-control text-center" id="mikeScore" inputmode="numeric" placeholder="Mike Score" name="mike_score" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-lg-offset-5">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <button type="reset" class="btn btn-default btn-block">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
