<div class="add-new">
  <h1>You can't play the foosball!</h1>
  <form class="add-scores" action="/scores/add" method="post">
    <div class="scores">
      <input type="text" name="alan_score" value="" placeholder="Alan">
      <input type="text" name="mike_score" value="" placeholder="Mike">
    </div>
    <br>
      Winner Color:
    <select class="" name="winner_side">
      <option value="1">Black</option>
      <option value="0">White</option>
    </select>
    <br>
    <button type="submit">Send It</button>
  </form>
</div>

<div class="top-table">
  <table class="main-table">
    <thead>
      <th>Alan Score</th>
      <th>Mike Score</th>
      <th>Winner Black?</th>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{alan_score}}</td>
        <td>{{mike_score}}</td>
        <td>{{winner_side}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="bottom-table">
  <table>
    <thead>
      <th>Black win rate</th>
      <th>Alan win rate</th>
      <th>Mike win rate</th>
      <th>Alan's wins</th>
      <th>Mike's wins</th>
      <th>Alan's total</th>
      <th>Mike's total</th>
    </thead>
    <tr>
      <td>{{blackWins}}%</td>
      <td>{{aWinPer}}%</td>
      <td>{{mWinPer}}%</td>
      <td>{{winner_count}}</td>
      <td>{{mikeWins}}</td>
      <td>{{totalAlan}}</td>
      <td>{{totalMike}}</td>
    </tr>
  </table>
</div>
